		.contenedor {
			display:grid;
			grid-template: 1fr 1fr 1fr/ 0.5fr 1.5fr 1.2fr ;
			height: 100vh;
			grid-template-areas: "cabecera titulo form1"
								 "menu menu form1"
								 "pie pie form1"
		}
		p { 
			color: white; 
			text-align:justify;
		}
		.pie p{
			text-align:justify;
		}
		.item {
			background:#1A5276;
		}
		.titulo {
			grid-area:titulo;			
		}
		.cabecera {
			grid-area:cabecera;
		}
		.menu {
			grid-area: menu; 
			padding-left:200px;
			padding-right:100px;			
		}
		.pie {
			grid-area:pie;
			padding-left:195px;
			padding-right:100px;			
		}
		.form1 {
			grid-area:form1;
		}
		.redondo img {
			 width:150px;
   			 height:150px;
    		 border-radius:150px;
		}
		body{
  		  	 width: 95%;
   		  	 margin: auto;
   		  	 background-color:#1A5276;
   		  	 font-family: arial, fantasy;
		}
		.contacto{
  			 border: 1px solid #CED5D7;
    		 border-radius: 25px;
    		 padding: 45px 45px 20px;
    		 margin-top: 55px;
    		 background-color: white;
    		 box-shadow: 0px 3px 10px #CED5D7, 0 0 0 10px #CED5D7 inset;
    		 padding-left: 90px;
    		 padding-top: 50px;
		}
		.contacto label{
			 display: block;
    		 font-weight: bold;
    	}
		.contacto div{
    		 margin-bottom: 15px;
		}
		.contacto input[type='text'], .contacto textarea{
   			 padding: 7px 6px;
    		 width: 295px;
    		 border: 2px solid 	#FF0000;
             resize: none;
             box-shadow:0 0 0 3px #EEF5F7;
             margin: 5px 0;
        }
		.contacto input[type='submit']{
  			 border: 2px solid #FF0000;
   			 box-shadow:0 0 0 3px #EEF5F7;
   			 padding: 10px 16px;
   			 border-radius: 20px;
   			 font-weight: bold;
   		 	 text-shadow: 1px 1px 0px white; 
    		 background: #e4f1f6;
  		}
		.contacto input[type='submit']:hover{
   			 background: #edfcff;
   			 background: -moz-linear-gradient(top, #edfcff 0%,#008080 100%);
   			 background: -webkit-linear-gradient(top, #edfcff 0%,#008080 100%);
   			 cursor:pointer;
		}
		.contacto input[type='submit']:active{
  			 background: #cfe6ef;
   			 background: -moz-linear-gradient(top, #cfe6ef 0%, #edfcff 100%);
   			 background: -webkit-linear-gradient(top, #cfe6ef 0%,#edfcff 100%);
   			 cursor:pointer;
		}
	