			*{
  				padding:0px;
	  			margin:0px;
 			}
		
			#header {
				margin:auto;
				width:500px;
				font-family:Arial, Helvetica, sans-serif;
				padding-top: 50px;
				}
				
			ul, ol {
				list-style:none;
			}
	
			.main li a {
					background-color:#C54343;
					color:#FDFEFE;
					text-decoration:none;
					padding:10px 15px;
					display:block;	
			}

			.main li a:hover {
					background-color:#434343;
			}

			.main > li {
					float:left;
			}

			.main li ul {
					display:none;
					position:absolute;
					min-width:140px;
			}

			.main li:hover > ul {
					display:block;
			}

			.main li ul li {
					position:relative;
			}

			.main li ul li ul {
					right:-140px;
					top:0px;

			}
	