
		.contenedor {
			background-image:url(fotos/opaca.jpg);
			display:grid;
			grid-template: 1fr 1fr 1fr/ 1fr 0.5fr 1fr ;
			height: 100vh;
			grid-template-areas: "cabecera titulo titulo"
								 "menu menu form3"
								 "pie pie form3"
								 "form4 form4 form3"
		}
		.item {
			background-color:
			border:1px solid white;
		}
		.titulo {
			grid-area:titulo;
			background-image:url(fotos/fondo3.jpg);
			background-size:900px;
			background-repeat:no-repeat;
			font-family:times new roman;
			font-style: italic;
			color:#CB4335    ;
			text-align:center;
		}
		p {
			margin-top:40px;
		}
		.cabecera {
			grid-area:cabecera;
			background-image:url(fotos/fondo3.jpg);
			background-size:950px;
			background-repeat:no-repeat;
		}
		.cabecera img {
			 width:200px;
   			 height:200px;
    		 border-radius:200px;
    		 border-top: 4px;
    		 margin-bottom:2px;
    		 bottom-top:3px;
		}
		.menu {
			grid-area:menu; 
		}
		.contenido {
			grid-area:contenido;
		}
		.pie {
			grid-area:pie;
		}
		body{
  		  	 width:100%;  
  		  	 height:95px:;	
   		  	 margin: auto;
   		  	 background-image:url(fotos/opaca.jpg);
   		  	 font-family: arial, fantasy;
   		}
   		.contenedor img{
   			border: 1.5px dashed blue;
		}
