.contenedor {
			display:grid;
			grid-template: 1fr 2fr 1fr/ 20% 1fr ;
			height: 100vh;
			grid-template-areas: "cabecera titulo"
								 "menu contenido"
								 "pie pie"
	}
	.item {
		background:gray;
		border: 1px solid blue;
		padding: 10px;
	}
	.titulo {
		grid-area:titulo;
	}
	.cabecera {
		grid-area:cabecera;
	}
	.menu {
		grid-area: menu; 
	}
	.contenido {
		grid-area: contenido;
	}
	.pie {
		grid-area:pie;
	}