	#main-container {
		padding-left:100px;
		
		padding-right:100px;
	}
	table {
		background-color:white;
		text-align:left;
		border:5px solid #C0C0C0C0;
		width:50%;
		border-right:100px;
		width: 100%;
		height: 300px;
		padding-top: 20px;
	}
	.horario td, th {
		padding:10px; 
	}
	.horario thead {
		background-color: #1A5276;
		border-bottom:solid 4px #C0C0C0C0;
		color:white;
	}
	.horario tr:nth-child(even){
		background-color:#A9CCE3;
	}
	