	.contenedor {
			background-image:url(fotos/opaca.jpg);
			display:grid;
			width:84em;  
			height:200em;
			grid-template: 1fr 1fr 2fr/1fr 1fr 2fr ;
			height: 100vh;
			grid-template-areas: "titulo  titulo derecha"
								 "contenido contenido derecha"
								
		}
		.titulo {
			grid-area:titulo;
		}
		.contenido {
			grid-area: contenido;
		}
		.derecha {
			grid-area: derecha;
		}
		body{
  		   	 margin: auto;
   		  	 font-family: arial, fantasy;
   		  	 background:#1A5276;
   		  	 background-image:url(fotos/opaca.jpg);
   		}
   		.titulo video {
			
			padding-left: 30px;
		}	
		.contenido video{
			
			padding-left: 30px;
		}
		.titulo p {
			font-family: alegrian, italic;
			padding-left: 10px;
			color:#CB4335 ;
		}	
		.contenido p {
			font-family: alegrian, italic;
			padding-left: 10px;
			color:#CB4335 ;
		}	
		.contenedor p{
			font-family: arial, fantasy;
			padding-left: 10px;
			margin:justify;
			color:#CB4335 ;
		}
		.contenedor span{
			font-family: calibri, fantasy;
			padding-left: 10px;
			color:#000 ;
			text-align:justify;
			display:inline-block;
			vertical-align:middle;
			line-height:normal;
		}


